<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISA Scrabble Login</title>
    <!link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://localhost/login/">
</head>
<body>
		<div class="login">
			<!-- <pre>
			{% for row in session['board'] %}
			<div style="margin-bottom:-35px; margin-top:-5px;">{{row}}</div>
			{% endfor %}
		</pre> -->

			<h1>ISA681 Scrabble Login Page </h1>
			<form action="{{ url_for('login') }}" method="post">
				{% if msg is defined and msg %}
					<div class="alert alert-warning">{{ msg }}</div>
				{% endif %}
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" autocomplete="off" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" autocomplete="off" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">

				<p class="bottom">Don't have an account?  <a class="bottom" href="{{url_for('register')}}"> Register here</a></p>
			</form>
		</div>
	</body>
</html>