<!-- TO-DO: if user has existing game, display button to join existing game -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <!link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://localhost/scoreboard/">
</head>
<body>
		<div class="scoreboard">
			<h1>Scoreboard</h1>
            <!-- {% if gameForfeited is defined and gameForfeited %}
            <alert>Game was Forfeited.</alert>
            {% endif %}

            <h2>Enter the username or email of the player whose scores you would like to view:</h2>
            <form action="/scores">
                <input type="text" name="username" placeholder="Username or Email" id="username">
                <button name="score" value="user-score">Search User Scores</button>
            </form> -->

            <form action="{{ url_for('scoreboard') }}" method="GET">
                <h2>Enter the username of the player whose scores you would like to view:</h2>
                <!-- TO-DO: how are we formatting username? -->
                <input type="text" name="username" placeholder="Username" id="username" 
                pattern="(^[A-Za-z0-9]{1,50}$)">
                <!-- pattern="(^[A-Za-z]{1,50}$)|(^[^@]+@[^@]+\.[^@]+$)"> -->


                <button name="user-score" value="user-score">Search User Scores</button>

                <h2>Or view your own scores:</h2>
                <button name="self-score" value="self-score">View my Scores</button>
            </form>

            {% if noScores is defined and noScores == True %}
            <h3>User has no completed games or does not exist</h3>
            {% endif %}


            {% if scoresRetrieved is defined and scoresRetrieved %}
            <h2>Viewing scores for user: {{username}}</h2>
            {% if userFinalScores is defined and userFinalScores %}
                <h3>User's Overall Win / Loss Ratio:</h3>
                <h4>Wins: <span> {{userFinalScores.win}} </span> -- Losses: <span> {{userFinalScores.loss}} </span></h4>
            {% endif %}
            <h3>Games Played:</h3>
            <ol>
                {% for score in scoresRetrieved %}
                <li>
                    score
                    User: {{score.user}} -- Opponent: {{score.opponent}} -- Winner: {{score.winner}} -- Date Played: {{score.datePlayed}}
                </li>
                {% endfor %}
            </ol>
            <!-- {{scoresRetrieved}} -->
            {% endif %}

            <div></div>
            <a href="{{url_for('menu')}}">
                <button>Back to Menu</button>            
            </a>
		</div>
	</body>
</html>