<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Scrabble User Account</title>
<link rel="stylesheet" href="https://34.227.149.217/userprofile">              
</head>
<body>
<div class="container">
	<div class="row">	
		<h1>Scrabble User Profile</h1>
	</div>
	<br>
	<div class="row">	
		Logged in : <strong>{{session.name}} | <a href="{{ url_for('logout') }}"> Logout</a>
	</div>
	<br><br>
	<div class="row">
	    
		<h2>Welcom to ISA Scrabble</h2> 
	</div>		
</div>
</body>
</html>
